<!DOCTYPE html>
<html>
  <head>
    <title>ipyleaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/ipyleaflet/dist/leaflet.css">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/ipyleaflet/dist/leaflet.js"></script>

    {% block footer %}{% endblock %}
  </body>
</html>