:root {
  --lynx-white: #f5f6fa;
  --dark-gray: #ececec;
  --gray: #f5f5f5;
  --light-gray: #fcfcfc;
  --border-color: #cccccc;
  --seabrook: #487eb0;
  --naval: #40739e;
  --mazarine-blue: #273c75;
  --pico-void: #192a56;
}